/* main{
    display: flex;
}
.Confeitaria{
    background-color: aquamarine;
    width: 250px;
    height: 350px;
}
img, p{
    width: 200px;
    height: 100px;
} */


/*paddronizando as configurações de exibição para melhor estilização*/
*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.produtos{
    display: flex;
    background-color: pink;
}
